/* 
    Document   : availables
    Created on : Sep 24, 2016, 2:36:18 PM
    Author     : esteban
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.modal-backdrop.in{
    z-index: 5004 !important;
}
.content-availables .modal {
    z-index: 5005 !important;
}
#modal-offer .modal-header .close {
    margin-top: 0px;
}
.closebtn{
       color: #333 !important;
    padding: 9px 12px !important;
    border: 1px solid transparent !important;
    border-radius: 4px !important;
    border-color: #ccc !important;
    opacity: initial;
    font-size: 14px !important;
    font-weight: normal;
}